[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-ckeditor = "*"
pillow = "*"
django-jalali-date = "*"
django-rosetta = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
